div.relative {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: scroll;
  background: blue;
  white-space: nowrap;
}

div#one, div#two {
  display: inline-block;
  width: 200px;
  height: 50px;
}

div#one {
  background: red;
}

div#two {
  background: green;
}
