a {
   font-size: 70px;
   font-weight: bold;
   white-space: nowrap;
   text-decoration: none;
   color: white;
   background: blue;
   padding: 5% 21% 5% 5%;
   display: inline-block;
   text-shadow: 2px 2px;
   border-radius: 50%;
  width: 300px;
  height: 100px;
 }
