a {
   font-size: 50px;
   text-decoration: none;
   color: white;
   background: blue;
   padding: 5px 16px;
   display: inline-block;
   border-radius: 3px;
   transition: 0.3s;
 }
a:hover {
   background: #333;
 }
