a {
   text-decoration: none;
   color: #fff;
   background: #00cc99;
   padding: 5px 16px;
   display: inline-block;
   border-radius: 3px;
   transition: 0.3s;
 }
a:hover {
   background: #333;
 }
